.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.1fr 0.2fr 1fr;
    font-family: Arial, Helvetica, sans-serif;
}

.title {
    grid-column-end: span 3;
    display: flex;
    justify-content: center;
}

.filter-container {
    grid-column-end: span 3;
    grid-row: 2;
    display: flex;
    justify-content: space-between;
    .searchbar {
        font-size: 22px;
        border-top: none;
        border-left: none;
        border-right: none;
        outline: none;
    }
    .age-range {
        font-size: 16px;
        display: flex;
        max-height: 1.2rem;
        .age-in {
            display: flex;
            flex-direction: column;
            align-items: center;
            input {
                display: block;
                max-width: 2rem;
            }
        }
        
    }
    .filter-button {
        background-color: goldenrod;
        border: none;
        cursor: pointer;
        padding: 10px;
        font-size: 14px;
        font-family: Arial, Helvetica, sans-serif;
    }
    .dropdown {
        position: relative;
        display: inline-block;
        background-color: #f9f9f9;
        
      }
      
      .dropdown-content {
        display: none;
        cursor: pointer;
        position: absolute;
        background-color: #f9f9f9;
        align-content: center;
        min-width: 80px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        padding: 12px 16px;
        z-index: 1;
        .filter {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            border:hidden;
            display: block;
            .filter:hover {
                background-color: #bdbdbd;
                text-decoration: underline;
            }
          }
      }
      .dropdown:hover .dropdown-content {
        display: block;
      }
}
.list-container {
    grid-column-end: span 3;
    display: flex;
    justify-items: flex-start;
    grid-row: 3;
    .eList {
        grid-column: 1;
        position: relative;
        display: flex;
        flex-direction: column;
        margin-right: 10%;
    }
    .results {
        grid-column: 2;
        margin-right: 10%;
        
    }
    .dept-results {
        grid-column: 3;
        margin-right: 10%;
    }
    .age-results {
        margin-right: 10%;
    }
}
